
#header{
width: 450px;
height: 252px;
background: url(hdr2.jpg) no-repeat -241px 0px;
border-bottom: 10px solid #111;
position: relative;
z-index: 0;
overflow: visible;
}
#stage-wrapper{
position: absolute;
display: block;
width: 420px;
height: 220px;
top: 29px;
left: 57px; 
z-index: 65533;
}
#stage{
z-index: 65535;
}
#logo{
position: fixed;
top: -999px;
left: -999px;
z-index: -65535;
visibility: hidden;
}


